{
    "printWidth": 100,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "auto",
    "svelteAllowShorthand": true,
    "svelteBracketNewLine": false,
    "svelteSortOrder": "scripts-markup-styles",
    "svelteStrictMode": false
}
